.sections-minecraft  .container > section {
    width: 100%;
    margin: 1rem 0;
}
.sections-minecraft  .container > section > section {
    margin-top: 1.5rem;
}

.sections-minecraft  .container h3 {
    font-size: var(--step-0);
}
.sections-minecraft  .container {
    font-size: var(--step--1);
}

.sections-minecraft  .container section .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: unset;
}

.sections-minecraft  .container section .content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.sections-minecraft  .container section .content h3.subtitle,
.sections-minecraft  .container section .content h4.subtitle{
    margin: 0.5em 0;
}



.sections-minecraft .navbar-minecraft {
    grid-area: navbar;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    font-family: var(--primary-font, sans-serif);
    font-size: var(--step--1);
    background-color: var(--navbar-background-color);
}
.sections-minecraft .navbar-minecraft .navbar-title,
.sections-minecraft .navbar-minecraft .navbar-actions {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.sections-minecraft .navbar-minecraft .navbar-title >* {
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    margin-top: 1.5rem;
}
.sections-minecraft .navbar-minecraft .navbar-actions {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    font-family: inherit;
    margin-bottom: 2px;
}
.sections-minecraft .navbar-minecraft .navbar-actions a {
    text-decoration: none;
    font-family: inherit;
    font-size: calc(var(--step--1) + 0.2rem);
    color: var(--font-color, #ffffff);
    font-weight: normal;
    line-height: normal;
}

.sections-minecraft .navbar-minecraft .navbar-actions a.active {
    font-weight: bold;
}
.sections-minecraft .navbar-minecraft .navbar-actions a.active::after {
    content: '';
    display: block;
    height: 3px;
    width: 1.5em;
    background-color: rgb(60, 132, 39);
    position: relative;
    bottom: -2px;
    margin: 0 auto;
    transition: width 0.3s ease-in-out;
}

.sections-minecraft .container {
    grid-area: content;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.sections-minecraft .container > section {
    display: none;
}
.sections-minecraft .container > section.active {
    display: block;
}
