:root {
  --mc-green-1: #3c8527;
  --mc-darken-green-1: #367723;
  --mc-disabled-green-1: rgba(54, 119, 35, 0.75);
  --mc-green-1-top: #52a535;
  --mc-green-1-bottom: #2a641c;
  --mc-green-2: #86d562;
  --mc-gray-1: #3d3938;
  --mc-gray-2: #262423;
  --mc-white: #dfd9d9;
}
code.minecraft {
  font-family: var(--secondary-font, sans-serif);
  color: var(--mc-green-1);
  background-color: var(--mc-gray-1);
  padding: 0.25rem;
  border-radius: 0.15rem;
  margin: 0 0.25rem;
}
button.minecraft,
select.minecraft,
input.minecraft,
select.minecraft {
  background-color: var(--mc-green-1);
  font-family: var(--primary-font, sans-serif);
  font-weight: 500;
  font-size: var(--step--1);
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  border-radius: 0;
  border: 0.2rem solid white;
  outline-color: var(--font-color, white);
}
button.minecraft:disabled,
select.minecraft:disabled,
input.minecraft:disabled,
select.minecraft:disabled {
  background-color: var(--mc-disabled-green-1);
  color: gray;
}
button.minecraft.block,
select.minecraft.block,
input.minecraft.block,
select.minecraft.block {
  font-family: var(--secondary-font, sans-serif);
}
a.minecraft {
  color: var(--mc-green-1);
  text-decoration: none;
  font-weight: 500;
  font-family: var(--secondary-font, sans-serif);
  font-size: calc(1em * 1.2);
}
button.minecraft {
  border: none;
  border-top: 0.2rem solid var(--mc-green-1-top);
  border-bottom: 0.2rem solid var(--mc-green-1-bottom);
  color: white;
  padding: 0.5rem 1rem;
}
button.minecraft:hover {
  background-color: var(--mc-darken-green-1);
  border: none;
  border-top: 0.2rem solid var(--mc-green-1-top);
  border-bottom: 0.2rem solid var(--mc-green-1-bottom);
}
button.minecraft:disabled {
  border-top: 0.2rem transparent;
  border-bottom: 0.2rem transparent;
  cursor: not-allowed;
}
button.minecraft.style-2 {
  background-color: transparent;
  color: var(--mc-green-2);
  border: 0.2rem solid var(--mc-green-1);
  padding: 0.5rem 1rem;
}
button.minecraft.style-2:hover {
  background-color: rgba(94, 123, 202, 0.25);
  border: 0.2rem solid var(--mc-green-1);
}
button.minecraft.style-3 {
  background-color: black;
  color: white;
  border: 0.2rem solid white;
  padding: 0.5rem 1rem;
}
button.minecraft.style-3:hover {
  background-color: white;
  border: 0.2rem solid transparent;
  color: black;
}
select.minecraft {
  border: none;
  border-top: 0.2rem solid var(--mc-green-1-top);
  border-bottom: 0.2rem solid var(--mc-green-1-bottom);
  color: white;
  padding: 0.5rem;
}
select.minecraft:hover {
  background-color: var(--mc-darken-green-1);
  border: none;
  border-top: 0.2rem solid var(--mc-green-1-top);
  border-bottom: 0.2rem solid var(--mc-green-1-bottom);
}
select.minecraft.style-2 {
  border: none;
  background-color: var(--mc-gray-1);
  color: white;
  padding: 0.5rem;
}
select.minecraft.style-2:hover:not(:disabled) {
  background-color: var(--mc-gray-1);
  border: none;
}
input.minecraft {
  background-color: var(--mc-gray-2);
  border: none;
  border: 0.2rem solid var(--mc-green-2);
  color: white;
  padding: 0.5rem;
}
input.minecraft:hover:not(:disabled) {
  background-color: var(--mc-gray-1);
}
input.minecraft:focus {
  border: 0.2rem solid white;
}
/* Checkbox */
.checkslider.minecraft {
  /* Style-2 */
  /* Style-3 */
}
.checkslider.minecraft input[type="checkbox"] {
  visibility: hidden;
  display: none;
}
.checkslider.minecraft *,
.checkslider.minecraft ::after,
.checkslider.minecraft ::before {
  box-sizing: border-box;
}
.checkslider.minecraft .switch {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}
.checkslider.minecraft .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--mc-green-1);
  transition: 0.4s;
  border-radius: 0.15em;
}
.checkslider.minecraft .slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.4em;
  border-radius: 0.15em;
  left: 0.3em;
  bottom: 0.25em;
  background-color: var(--mc-gray-1);
  transition: 0.4s;
}
.checkslider.minecraft input:checked + .slider::before {
  transform: translateX(2em);
  background: white;
}
.checkslider.minecraft.style-2 .slider {
  background-color: var(--mc-gray-1);
}
.checkslider.minecraft.style-2 .slider:before {
  background-color: var(--mc-gray-2);
}
.checkslider.minecraft.style-2 input:checked + .slider::before {
  background: var(--mc-green-1);
}
.checkslider.minecraft.style-3 .slider {
  background-color: #eee;
  border-radius: 0.25em;
  box-shadow: 0 0.2em var(--mc-white);
}
.checkslider.minecraft.style-3 .slider:before {
  border-radius: 0.3em;
  bottom: 0.75em;
  background-color: var(--mc-gray-2);
  box-shadow: 0 0.4em #bcb4b4;
}
.checkslider.minecraft.style-3 .slider:hover::before {
  box-shadow: 0 0.2em #bcb4b4;
  bottom: 0.5em;
}
.checkslider.minecraft.style-3 input:checked + .slider::before {
  background: var(--mc-green-2);
}
.checkbox.minecraft {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-direction: row;
}
.checkbox.minecraft input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: 0.1em solid var(--mc-green-1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox.minecraft input[type="checkbox"]:checked {
  background-color: var(--mc-green-1);
}
.checkbox.minecraft input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  width: 0.8em;
  height: 0.4em;
  border: 0.15em solid white;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  margin-top: -0.1em;
}
/* Selector component */
.file-selector-component.minecraft {
  border: 2px dashed var(--mc-green-2, green);
  border-radius: 0.2em;
  font-family: var(--secondary-font, sans-serif);
  font-weight: bolder;
  font-size: var(--step-1, 1.2rem);
}
.file-selector-component.minecraft .file-label,
.file-selector-component.minecraft .file-selector-component.minecraft span {
  font-size: inherit;
}
.file-selector-component.minecraft .file-label svg,
.file-selector-component.minecraft .file-label img {
  aspect-ratio: 1 / 1;
  cursor: inherit;
  padding: 1em 0;
  max-width: 10rem;
  max-height: 10rem;
}
