.install-container .sections-minecraft .configuration p {
  font-family: var(--secondary-font);
  font-size: var(--step-0);
}
.install-container .sections-minecraft .inputs p {
  font-family: var(--secondary-font);
  font-size: calc(var(--step--1) + 0.1rem);
}
.install-container .sections-minecraft h1 {
  font-size: var(--step-1);
}
.install-container .sections-minecraft .section-from-file {
  gap: 2rem;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration {
  display: none;
  grid-template-areas: "summary" "config" "selectors";
  gap: 1rem;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration.active {
  display: grid;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .mrpack-summary {
  grid-area: summary;
  font-family: var(--secondary-font);
  font-size: var(--step-0);
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .mrpack-summary p {
  font-family: inherit;
  font-size: inherit;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .type-selector {
  grid-area: type;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .icon-selector {
  grid-area: icon;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .install {
  grid-area: install;
  margin-top: 1.4em;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .configuration {
  grid-area: config;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 1rem;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .configuration .toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .configuration .toggle .information {
  cursor: pointer;
  font-family: var(--secondary-font);
  font-size: var(--step--2);
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .configuration .toggle .information > h1 {
  font-family: inherit;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .configuration .toggle .information > h1:hover {
  scale: 1.5;
  rotate: 5deg;
  transition: all 0.2s ease-in-out;
  color: var(--mc-green-2, green);
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .configuration .toggle > p {
  font-family: var(--secondary-font);
  font-size: var(--step-0);
  margin-top: 0.3em;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .configuration .advanced-configuration {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .configuration .advanced-configuration.active {
  display: flex;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .configuration .advanced-configuration .memory,
.install-container .sections-minecraft .section-from-file .content .installation-configuration .configuration .advanced-configuration .path {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .configuration .advanced-configuration .memory .memory-inputs {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .configuration .advanced-configuration .path {
  width: 100%;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .checkbox {
  grid-area: checkbox;
  justify-content: center;
  margin-top: 0.5rem;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .type-selector select,
.install-container .sections-minecraft .section-from-file .content .installation-configuration .icon-selector select {
  width: 100%;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration input {
  width: 100%;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .status {
  grid-area: status;
  display: none;
  font-size: var(--step-0);
  font-family: var(--secondary-font);
  text-align: center;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .status.active {
  display: block;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .status p {
  font-family: inherit;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .inputs {
  grid-area: selectors;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .inputs .type-selector,
.install-container .sections-minecraft .section-from-file .content .installation-configuration .inputs .icon-selector {
  width: 20%;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .inputs .dialog-trigger {
  min-width: 60%;
  margin-top: 0.25rem;
}
.install-container .sections-minecraft .section-from-file .content .installation-configuration .inputs .install {
  min-width: 100%;
}
