/* SECCION APARIENCIA */

.settings-container .container .section-appearance .content .themes-list {
    display: flex;
    gap: 2em;
    flex-direction: row;
}

.settings-container .container .section-appearance .content .themes-list .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--mc-gray-1, dimgray);
    color: white;
    border: 2px solid var(--font-color, white);
    width: 15rem;
}
.settings-container .container .section-appearance .content .themes-list .item:hover {
    background-color: var(--mc-gray-2, gray);
    scale: 1.05;
    transition: all 0.2s ease-in-out;
}

.settings-container .container .section-appearance .content .themes-list .item .preview {
    width: 100%;
    height: 10em;
    border-radius: 16px 16px 0 0;
    background-size: cover;
    background-position: center;
}

.settings-container .container .section-appearance .content .themes-list .item .preview .navbar {
    width: 100%;
    height: 3em;
    border-radius: 20px 20px 0 0;
}

.settings-container .container .section-appearance .content .themes-list .item .preview .card {
    width: 50%;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    margin: auto;
    margin-top: 1em;
}
.settings-container .container .section-appearance .content .themes-list .item .preview .card .line {
    width: 70%;
    height: 0.4em;
    margin: 0.2em 0;
    border-radius: 0.5em;
}
.settings-container .container .section-appearance .content .themes-list .item .preview .card .secondary {
    width: 50%;
}

/* TEMAS */
.settings-container .container .section-appearance .content .themes-list .item.classic .preview {
    background-color: var(--primary-bgc-classic);
}
.settings-container .container .section-appearance .content .themes-list .item.classic .preview .navbar {
    background-color: var(--navbar-navbgc-classic);
}
.settings-container .container .section-appearance .content .themes-list .item.classic .preview .card {
    background-color: var(--secondary-bgc-classic);
}
.settings-container .container .section-appearance .content .themes-list .item.classic .preview .card .line {
    background-color: var(--primary-fc-classic);
}
.settings-container .container .section-appearance .content .themes-list .item.classic .preview .card .secondary {
    background-color: var(--secondary-fc-classic);
}

.settings-container .container .section-appearance .content .themes-list .item.light .preview {
    background-color: var(--primary-bgc-light);
}
.settings-container .container .section-appearance .content .themes-list .item.light .preview .navbar {
    background-color: var(--navbar-navbgc-light);
}
.settings-container .container .section-appearance .content .themes-list .item.light .preview .card {
    background-color: var(--secondary-bgc-light);
}
.settings-container .container .section-appearance .content .themes-list .item.light .preview .card .line {
    background-color: var(--primary-fc-light);
}
.settings-container .container .section-appearance .content .themes-list .item.light .preview .card .secondary {
    background-color: var(--secondary-fc-light);
}

.settings-container .container .section-appearance .content .themes-list .item.dark .preview {
    background-color: var(--primary-bgc-dark);
}
.settings-container .container .section-appearance .content .themes-list .item.dark .preview .navbar {
    background-color: var(--navbar-navbgc-dark);
}
.settings-container .container .section-appearance .content .themes-list .item.dark .preview .card {
    background-color: var(--secondary-bgc-dark);
}
.settings-container .container .section-appearance .content .themes-list .item.dark .preview .card .line {
    background-color: var(--primary-fc-dark);
}
.settings-container .container .section-appearance .content .themes-list .item.dark .preview .card .secondary {
    background-color: var(--secondary-fc-dark);
}

.settings-container .container .section-appearance .content .themes-list .item .information {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1em;
    width: 80%;
    margin: 0 auto;
    padding: 1em 0.5em;
}
.settings-container .container .section-appearance .content .themes-list .item .information > input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

.settings-container .container .section-appearance .behaviour {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


/* SECCION JAVA */


/* SECCION ACERCA DE */
.settings-container .container .section-about .content {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.settings-container .container .section-about .content .side-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: var(--step-0);
    font-family: var(--secondary-font);
}

.settings-container .container .section-about .content .update-status.disabled{
    display: none;
}
.settings-container .container .section-about .content .update-status > button {
    font-size: var(--step-0);
    font-family: var(--secondary-font);
}

.settings-container .container .section-about .content .side-info h2,
.settings-container .container .section-about .content .side-info a,
.settings-container .container .section-about .content .side-info p {
    font-family: inherit;
}
.settings-container .container .section-about .content .side-info a {
    color: var(--mc-green-2, green);
    display: inline;
}