.sep--horizontal {
  height: 0.25em;
  width: 100%;
  display: block;
  border-radius: 10px;
  margin: 1em 0;
}

.sep--vertical {
  width: 0.25em;
  height: 100%;
  display: inline-block;
  border-radius: 10px;
  margin: 0 1em;
}

.sep {
  background: var(--prymary-border-color, var(--border, rgba(0, 0, 0, 0.08)));
}
.sep.borderless {
  background-color: transparent !important;
}